<!doctype html>
<html lang="en">

<head>
    <title>buyhouse</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="http://i.gtimg.cn/qzone/biz/gdt/lib/jquery/jquery-2.1.4.js?max_age=31536000"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid px-0" id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light " aria-label="breadcrumb">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="home.html">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active ml-3">
                        <a class="nav-link" href="sell.html">售房</a>
                    </li>
                </ul>
                <form class="form-inline m-2 my-lg-0">
                    <h class="breadcrumb-item"><a href="Login.html">登录</a></h>
                    <h class="breadcrumb-item"><a href="Register.html">注册</a></h>

                </form>
            </div>
        </nav>

        <form class="form-inline my-2 mt-4 mb-4">
            <input class="form-control ml-lg-3" type="search" placeholder="请输入房源信息" aria-label="Search"
                style="width:45%;">
            <button class="btn btn-outline-success my-2 my-sm-0 ml-lg-3" type="submit">搜索</button>
        </form>

        <div class="card text-left">
            <div class="card-body">
                <div class="form-group">
                    <label for="">城区</label>
                    <span v-for="(area, index) in areas" :key="index">
                        <button v-if="area.show==false" type="button" class="btn btn-outline-info btn-sm ml-3"
                            v-on:click="areaed(area)">{{area.content}}</button>
                        <button v-else type="button" class="btn btn-outline-info ml-3 btn-sm active"
                            v-on:click="areaed(area)">{{area.content}}</button>
                    </span>
                </div>

                <!-- 售价 -->
                <div class="form-group mt-2">
                    <label for="">售价</label>
                    <span v-for="(price, index) in prices" :key="index">
                        <button v-if="price.show==false" type="button" class="btn btn-outline-info btn-sm ml-3"
                            v-on:click="priced(price)">{{price.content}}</button>
                        <button v-else type="button" class="btn btn-outline-info ml-3 btn-sm active"
                            v-on:click="priced(price)">{{price.content}}</button>
                    </span>
                </div>

                <!-- 户型 -->

                <div class="form-group mt-2">
                    <label for="">户型</label>
                    <span v-for="(htype, index) in htypes" :key="index">
                        <button v-if="htype.show==false" type="button" class="btn btn-outline-info ml-3 btn-sm"
                            v-on:click="htyped(htype)">{{htype.content}}</button>
                        <button v-else type="button" class="btn btn-outline-info ml-3 btn-sm active"
                            v-on:click="htyped(htype)">{{htype.content}}</button>
                    </span>
                </div>

                <!-- 面积 -->
                <div class="form-group mt-2">
                    <label for="">面积</label>
                    <span v-for="(size, index) in sizes" :key="index">
                        <button v-if="size.show==false" type="button" class="btn btn-outline-info btn-sm ml-3"
                            v-on:click="sized(size)">{{size.content}}</button>
                        <button v-else type="button" class="btn btn-outline-info ml-3 btn-sm active"
                            v-on:click="sized(size)">{{size.content}}</button>
                    </span>
                </div>
            </div>
        </div>
        <!-- 楼房信息 -->
        <div class="card mt-3 ml-2" style="max-width: 940px;">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="1.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h3 class="card-title">唐康大厦</h3>
                        <p class="card-text">位置：<span class="text-danger">
                                雨花区 雨花亭 韶山中路421号</span></p>
                        <p class="card-text">面积：<span class="text-danger">160㎡</span></p>
                        <p class="card-text">户型：<span class="text-danger">三室</span></p>
                    </div>

                </div>
                <div class="price col-md-2 mt-5">
                    <p class="sup">均价<span class="text-danger" style="font-size:30px;">40000</span>元/㎡</p>
                    <p class="avgPrice">总价 <span>132万/套</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="card mt-3 ml-2" style="max-width: 940px;">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="1.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h3 class="card-title">唐康大厦</h3>
                        <p class="card-text">位置：<span class="text-danger">
                                雨花区 雨花亭 韶山中路421号</span></p>
                        <p class="card-text">面积：<span class="text-danger">160㎡</span></p>
                        <p class="card-text">户型：<span class="text-danger">三室</span></p>
                    </div>

                </div>
                <div class="price col-md-2 mt-5">
                    <p class="sup">均价<span class="text-danger" style="font-size:30px;">40000</span>元/㎡</p>
                    <p class="avgPrice">总价 <span>132万/套</span>
                    </p>
                </div>
            </div>
        </div>





        <script>
            new Vue({
                el: '#app',
                data: {
                    areas: [{
                            content: '天心',
                            show: false,
                        },
                        {
                            content: '开福',
                            show: false,
                        },
                        {
                            content: '岳麓',
                            show: false,
                        },
                        {
                            content: '芙蓉',
                            show: false,
                        },
                        {
                            content: '浏阳',
                            show: false,
                        },
                        {
                            content: '宁乡',
                            show: false,
                        },
                        {
                            content: '望城',
                            show: false,
                        },
                    ],
                    htypes: [{
                            content: '一室',
                            show: false,
                        },
                        {
                            content: '二室',
                            show: false,
                        },
                        {
                            content: '三室',
                            show: false,
                        },
                        {
                            content: '四室',
                            show: false,
                        },
                        {
                            content: '五室以及上',
                            show: false,
                        },
                    ],
                    prices: [{
                            content: '50万以下',
                            show: false,
                        },
                        {
                            content: '50万-100万',
                            show: false,
                        },
                        {
                            content: '100万-150万',
                            show: false,
                        },
                        {
                            content: '150万-200万',
                            show: false,
                        },
                        {
                            content: '200万-250万',
                            show: false,
                        },
                        {
                            content: '250万以上',
                            show: false,
                        }
                    ],
                    sizes: [{
                            content: '50㎡以下',
                            show: false,
                        },
                        {
                            content: '50㎡-70㎡',
                            show: false,
                        },
                        {
                            content: '70㎡-90㎡',
                            show: false,
                        },
                        {
                            content: '90㎡-120㎡',
                            show: false,
                        },
                        {
                            content: '120㎡-150㎡',
                            show: false,
                        },
                        {
                            content: '150㎡-200㎡',
                            show: false,
                        },
                        {
                            content: '200㎡以上',
                            show: false,
                        },
                    ],
                    htype: '',
                    price: '',
                    size: '',
                },

                methods: {
                    htyped: function (su) {
                        this.htypes.forEach(s => {
                            s.show = false;
                        });
                        su.show = true;
                    },
                    priced: function (si) {
                        this.prices.forEach(s => {
                            s.show = false;
                        });
                        si.show = true;
                    },
                    sized: function (bi) {
                        this.sizes.forEach(s => {
                            s.show = false;
                        });
                        bi.show = true;
                    },
                    areaed: function (bu) {
                        this.areas.forEach(s => {
                            s.show = false;
                        });
                        bu.show = true;
                    },
                }


            })
        </script>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
</body>

</html>